<section class="about">
  <div class="container">
    <div class="about_left">
      <div class="about_circle one"></div>
      <div class="about_circle two"></div>
      <div class="about_circle three"></div>
      <div class="about_caption">Приветствую Вас на страницах моего сайта!</div>
      <div class="about_description">Он создан для того, чтобы делиться со всеми желающими накопленными за много лет тренировок опытом, положительным настроем и мотивацией двигаться вперед. Надеюсь, Вы сможете найти много интересного в новостном потоке сайта, обучающих и тематических видео, популярных статьях о великих атлетах прошлого и настоящего. Для тех, кто хочет двигаться вперед и изменить себя, подойдут индивидуально разработанные тренировочные программы и рационы питания, персональные тренировки и онлайн консультации.
        <br><br>Уверен, что наше общение и сотрудничество поможет Вам достичь поставленных целей!</div>
    </div>
    <div class="about_right">
      <div class="about_img_wrapper">
        <img class="about_img" src="./img/about.jpg">
        <div class="about_img_info">
          <div class="about_img_text"><span class="about_img_amount">10</span> городов</div>
          <div class="about_img_text"><span class="about_img_amount">1487</span> участников</div>
        </div>
      </div>
      <div class="about_info">
        <div class="about_info_caption">«Воля Императора»</div>
        <div class="about_info_description">Проект "Воля Императора" родился из желания внести ясность в вопрос поддержания хорошей формы и возможного ее улучшения, а также из идеи проведения открытых тренировок для всех желающих, где люди могут в свободной атмосфере пообщаться с профессиональными спортсменами, подпитаться опытом и мотивацией.</div>
        <a class="btn btn-about" href="javascript:void(0);">Присоединиться</a>
      </div>
      <div class="about_coach">
        <img class="about_coach_img" src="./img/coach.jpg">
      </div>
    </div>
  </div>
</section>