<div class="base">
  <div class="workout_row">
    <h2 class="title-block">Штаб</h2>
    <div class="title-bg">Base</div>
  </div>
  <div class="base_slider">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        @@for (var i = 0; i < context.arr.length; i++) {
        <div class="swiper-slide">
          <div class="gal base_item">
            <a class="base_link" rel="lightbox-tour" data-lightbox="example-4" href="`+context.arr[i]+`">
              <img class="base_img" src="`+context.arr[i]+`"/>
            </a>
          </div>
        </div>
        }
      </div>
    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
  <div class="contacts">
    <div class="contacts_caption">Схема проезда</div>
    <div class="contacts_wrapper">
      <div id="map" class="contacts_map"></div>
      <div class="contacts_info">
        <div class="contacts_text">г. Москва, ул. Вавилова, д. 66 ТЦ «Триумфальный», 4 этаж</div>
        <div class="contacts_text">пн.-пт. — с 11:00 до 19:00<br> сб. — с 12:00 до 18:00</div>
      </div>
    </div>
  </div>
</div>