<header class="header @@context.class">
  <div class="container">
    <div class="header_logo">
      <a class="header_logo_link" href="./">
        <div class="header_logo_text">Дмитрий Селиверстов</div>
        <img class="header_logo_img" src="./img/logo-min.svg" alt="Дмитрий Селиверстов" title="Дмитрий Селиверстов">
      </a>
    </div>
    <div class="header_basket">
      <div class="header_basket_img">
        <div class="header_basket_count">0</div>
      </div>
      <a class="header_basket_link" href="javascript:void(0);"></a>
    </div>
    <div class="header_hamburger"></div>
  </div>
</header>