<div id="instagramModal" class="modalDialog">
  <div class="modalDialog_container mid">
    <div title="Закрыть" class="closeModal" onclick="close_modal('instagramModal')"></div>
    <div class="instagram-modal_img_wrapper">
      <img class="instagram-modal_img" src="./img/instagram-3.jpg">
    </div>
    <div class="instagram-modal_info">
      <div class="instagram-modal_row">
        <div class="instagram-modal_user">
          <img class="instagram-modal_user_img" src="./img/coach.jpg">
          <a class="instagram-modal_user_name" href="javascript:void(0);">Seliverstov</a>
        </div>
        <a class="instagram-modal_view" href="javascript:void(0);">View on Instagram</a>
      </div>
      <div class="instagram-modal_row">
        <div class="instagram-modal_popularity">
          <div class="instagram-modal_like">142</div>
          <div class="instagram-modal_comment">4</div>
        </div>
        <div class="instagram-modal_time">2 d</div>
      </div>
      <div class="instagram-modal_messages">
        <div class="instagram-modal_messages_item author">
          <a class="instagram-modal_messages_name author" href="javascript:void(0);">Seliverstov</a>
          <div class="instagram-modal_messages_text author">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</div>
          <a class="instagram-modal_messages_hashtag author" href="javascript:void(0);"></a>
          <a class="instagram-modal_messages_hashtag author" href="javascript:void(0);"></a>
        </div>
        <div class="instagram-modal_messages_item">
          <a class="instagram-modal_messages_name" href="javascript:void(0);">user_481</a>
          <div class="instagram-modal_messages_text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</div>
          <a class="instagram-modal_messages_hashtag" href="javascript:void(0);"></a>
        </div>
      </div>
    </div>
  </div>
</div>