<section class="programs">
  <div class="container">
    <div class="programs_row">
      <h2 class="title-block">Программы тренировок</h2>
      <div class="title-bg">Programms</div>
      <nav class="programs_list">
        <a class="programs_item active" href="#weight">Набор веса</a>
        <a class="programs_item" href="#drying">Сушка</a>
        <a class="programs_item" href="#performance">Выступления</a>
      </nav>
    </div>
    <div id="weight" class="programs_wrapper">
      <div class="programs_box">
        <div class="programs_box_img_wrapper">
          <img class="programs_box_img" src="./img/programs-1.jpg">
          <a class="programs_box_img_link" href="javascript:void(0);"></a>
          <a class="programs_box_img_more" href="javascript:void(0);">Подробнее о программе</a>
        </div>
        <div class="programs_box_info">
          <a class="programs_box_caption" href="javascript:void(0);">CrossFit Programm1</a>
          <div class="programs_box_time">2-3 недели</div>
          <ul class="programs_box_list">
            <li class="programs_box_item">Detailed custom meal plan</li>
            <li class="programs_box_item">Carb cycling program</li>
            <ul class="programs_box_additionally">
              <li class="programs_box_item">Grocery & Food substitution list</li>
              <li class="programs_box_item">10+ pages of nutritional tips and ways to stay lean</li>
              <li class="programs_box_item">Daily Snack Ideas</li>
              <li class="programs_box_item">Supplement recommendations for faster results</li>
              <li class="programs_box_item">Detailed 12 phase workout program (new phase rotated every 2 weeks)</li>
            </ul>
            <a class="programs_box_more" href="javascript:void(0);">Что включено</a>
          </ul>
          <div class="programs_box_row">
            <div class="programs_box_price">7 850 ₽</div>
            <button class="btn btn-basket"></button>
          </div>
        </div>
      </div>
      <div class="programs_box">
        <div class="programs_box_img_wrapper">
          <img class="programs_box_img" src="./img/programs-2.jpg">
          <a class="programs_box_img_link" href="javascript:void(0);"></a>
          <a class="programs_box_img_more" href="javascript:void(0);">Подробнее о программе</a>
        </div>
        <div class="programs_box_info">
          <a class="programs_box_caption king" href="javascript:void(0);">Fitness Programm1</a>
          <div class="programs_box_time">3-4 неделии</div>
          <ul class="programs_box_list">
            <li class="programs_box_item">Detailed custom meal plan</li>
            <li class="programs_box_item">Carb cycling program</li>
            <ul class="programs_box_additionally">
              <li class="programs_box_item">Grocery & Food substitution list</li>
              <li class="programs_box_item">10+ pages of nutritional tips and ways to stay lean</li>
              <li class="programs_box_item">Daily Snack Ideas</li>
              <li class="programs_box_item">Supplement recommendations for faster results</li>
              <li class="programs_box_item">Detailed 12 phase workout program (new phase rotated every 2 weeks)</li>
            </ul>
            <a class="programs_box_more" href="javascript:void(0);">Что включено</a>
          </ul>
          <div class="programs_box_row">
            <div class="programs_box_price">9 850 ₽</div>
            <button class="btn btn-basket"></button>
          </div>
        </div>
      </div>
    </div>
    <div id="drying" class="programs_wrapper">
      <div class="programs_box">
        <div class="programs_box_img_wrapper">
          <img class="programs_box_img" src="./img/programs-1.jpg">
          <a class="programs_box_img_link" href="javascript:void(0);"></a>
          <a class="programs_box_img_more" href="javascript:void(0);">Подробнее о программе</a>
        </div>
        <div class="programs_box_info">
          <a class="programs_box_caption" href="javascript:void(0);">CrossFit Programm2</a>
          <div class="programs_box_time">2-3 недели</div>
          <ul class="programs_box_list">
            <li class="programs_box_item">Detailed custom meal plan</li>
            <li class="programs_box_item">Carb cycling program</li>
            <ul class="programs_box_additionally">
              <li class="programs_box_item">Grocery & Food substitution list</li>
              <li class="programs_box_item">10+ pages of nutritional tips and ways to stay lean</li>
              <li class="programs_box_item">Daily Snack Ideas</li>
              <li class="programs_box_item">Supplement recommendations for faster results</li>
              <li class="programs_box_item">Detailed 12 phase workout program (new phase rotated every 2 weeks)</li>
            </ul>
            <a class="programs_box_more" href="javascript:void(0);">Что включено</a>
          </ul>
          <div class="programs_box_row">
            <div class="programs_box_price">7 850 ₽</div>
            <button class="btn btn-basket"></button>
          </div>
        </div>
      </div>
      <div class="programs_box">
        <div class="programs_box_img_wrapper">
          <img class="programs_box_img" src="./img/programs-2.jpg">
          <a class="programs_box_img_link" href="javascript:void(0);"></a>
          <a class="programs_box_img_more" href="javascript:void(0);">Подробнее о программе</a>
        </div>
        <div class="programs_box_info">
          <a class="programs_box_caption king" href="javascript:void(0);">Fitness Programm2</a>
          <div class="programs_box_time">3-4 неделии</div>
          <ul class="programs_box_list">
            <li class="programs_box_item">Detailed custom meal plan</li>
            <li class="programs_box_item">Carb cycling program</li>
            <div class="programs_box_additionally">
              <li class="programs_box_item">Grocery & Food substitution list</li>
              <li class="programs_box_item">10+ pages of nutritional tips and ways to stay lean</li>
              <li class="programs_box_item">Daily Snack Ideas</li>
              <li class="programs_box_item">Supplement recommendations for faster results</li>
              <li class="programs_box_item">Detailed 12 phase workout program (new phase rotated every 2 weeks)</li>
            </div>
            <a class="programs_box_more" href="javascript:void(0);">Что включено</a>
          </ul>
          <div class="programs_box_row">
            <div class="programs_box_price">9 850 ₽</div>
            <button class="btn btn-basket"></button>
          </div>
        </div>
      </div>
    </div>
    <div id="performance" class="programs_wrapper">
      <div class="programs_box">
        <div class="programs_box_img_wrapper">
          <img class="programs_box_img" src="./img/programs-1.jpg">
          <a class="programs_box_img_link" href="javascript:void(0);"></a>
          <a class="programs_box_img_more" href="javascript:void(0);">Подробнее о программе</a>
        </div>
        <div class="programs_box_info">
          <a class="programs_box_caption" href="javascript:void(0);">CrossFit Programm3</a>
          <div class="programs_box_time">2-3 недели</div>
          <ul class="programs_box_list">
            <li class="programs_box_item">Detailed custom meal plan</li>
            <li class="programs_box_item">Carb cycling program</li>
            <div class="programs_box_additionally">
              <li class="programs_box_item">Grocery & Food substitution list</li>
              <li class="programs_box_item">10+ pages of nutritional tips and ways to stay lean</li>
              <li class="programs_box_item">Daily Snack Ideas</li>
              <li class="programs_box_item">Supplement recommendations for faster results</li>
              <li class="programs_box_item">Detailed 12 phase workout program (new phase rotated every 2 weeks)</li>
            </div>
            <a class="programs_box_more" href="javascript:void(0);">Что включено</a>
          </ul>
          <div class="programs_box_row">
            <div class="programs_box_price">7 850 ₽</div>
            <button class="btn btn-basket"></button>
          </div>
        </div>
      </div>
      <div class="programs_box">
        <div class="programs_box_img_wrapper">
          <img class="programs_box_img" src="./img/programs-2.jpg">
          <a class="programs_box_img_link" href="javascript:void(0);"></a>
          <a class="programs_box_img_more" href="javascript:void(0);">Подробнее о программе</a>
        </div>
        <div class="programs_box_info">
          <a class="programs_box_caption king" href="javascript:void(0);">Fitness Programm3</a>
          <div class="programs_box_time">3-4 неделии</div>
          <ul class="programs_box_list">
            <li class="programs_box_item">Detailed custom meal plan</li>
            <li class="programs_box_item">Carb cycling program</li>
            <div class="programs_box_additionally">
              <li class="programs_box_item">Grocery & Food substitution list</li>
              <li class="programs_box_item">10+ pages of nutritional tips and ways to stay lean</li>
              <li class="programs_box_item">Daily Snack Ideas</li>
              <li class="programs_box_item">Supplement recommendations for faster results</li>
              <li class="programs_box_item">Detailed 12 phase workout program (new phase rotated every 2 weeks)</li>
            </div>
            <a class="programs_box_more" href="javascript:void(0);">Что включено</a>
          </ul>
          <div class="programs_box_row">
            <div class="programs_box_price">9 850 ₽</div>
            <button class="btn btn-basket"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>