<aside class="sidebar">
  <div class="container">
    <div class="header_logo">
      <a class="header_logo_link" href="./">
        <div class="header_logo_text">Дмитрий Селиверстов</div>
        <img class="header_logo_img" src="./img/logo-min.svg" alt="Дмитрий Селиверстов" title="Дмитрий Селиверстов">
      </a>
    </div>
    <div class="header_close"></div>
  </div>
  <div class="sidebar_logo">
    <a class="sidebar_logo_link" href="./">
      <img class="sidebar_logo_img" src="./img/logo.svg" alt="Дмитрий Селиверстов" title="Дмитрий Селиверстов">
    </a>
  </div>
  <nav class="sidebar_nav">
    <a class="sidebar_nav_link" href="about.html">Биография</a>
    <a class="sidebar_nav_link" href="article.html">Блог</a>
    <a class="sidebar_nav_link" href="javascript:void(0);">Клуб</a>
    <a class="sidebar_nav_link" href="catalog_level_1.html">Продукция</a>
    <a class="sidebar_nav_link" href="programs.html">Программы</a>
    <a class="sidebar_nav_link" href="javascript:void(0);">Услуги</a>
  </nav>
  <div class="sidebar_basket">
    <div class="sidebar_basket_text">Ваша корзина</div>
    <div class="sidebar_basket_img">
      <div class="sidebar_basket_count">0</div>
      <div class="sidebar_basket_price">товаров на сумму 0 р.</div>
    </div>
    <a class="sidebar_basket_link" href="javascript:void(0);"></a>
  </div>
  <div class="sidebar_request">
    <div class="sidebar_request_text">Онлайн-ведение</div>
    <a class="btn btn-sidebar" href="#registration">Заполнить анкету</a>
    <a class="btn btn-call" href="javascript:void(0);">Обратная связь</a>
  </div>
  <div class="sidebar_social">
    <div class="sidebar_social_text">Подпишитесь</div>
    <div class="sidebar_social_list">
      <a class="sidebar_social_item vk" href="javascript:void(0);"></a>
      <a class="sidebar_social_item facebook" href="javascript:void(0);"></a>
      <a class="sidebar_social_item instagram" href="javascript:void(0);"></a>
      <a class="sidebar_social_item youtube" href="javascript:void(0);"></a>
    </div>
  </div>
</aside>